@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
#avatar {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}
#apps {
    width: 2em;
    height: 2em;
}
.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    overflow: hidden;
    background-color: rgba (0, 0, 0, 0);
}

.links {
    float: right;
    display: block;
    color: black;
    text-align: right;
    padding: 10px 5px;
    text-decoration: none;
    margin: 0px;
}

body {
    margin-top: 10px;
    font-family: Roboto;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
}

#gsearch {
    margin-top: 20px;
    margin-left: 600px;
}

#searchbox {
    position: absolute;
    top: 50%;
    left: 45%;
    margin: -100px 0 0 -150px;
    width: 450px;
}

div {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgba(134, 134, 134, 0.54);
    background-color: rgb(218, 218, 218);
    text-align: center;
    padding: 20px;
}

footer a {

}

.round {
    width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.images {
    padding-top: 0px;
    float: right;
    display: block;
    text-align: right;
    text-decoration: none;
    margin: 0px;
}